/* NOTE: There are additional style sheets at play so be
sure to reference them during development and when refactoring */

/* =============== */
/* Imported Fonts */
/* ============== */

/* https://fonts.google.com */

/* M PLUS Rounded 1c */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');


html {
  margin: 0;
  /* background-image: linear-gradient(to bottom right, #5fcf80, #fff); */
  background-color: black;
}


body{
  font-family: Helvetica, sans-serif;
  color: #222;
  height: 100%;
}

.top {
  transform: rotate(180deg);
}

/* cf = cross fading... which is what im labeling what im doing to the background */
#cf {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin:0 auto;
  z-index: -1;
}

#cf img {
  margin: 0 auto;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  width: 100%;
}

@keyframes cfFadeInOut {
  0% {
  opacity:1;
}
35% {
opacity:.7;
}
45% {
opacity:.5;
}
55% {
opacity:.3;
}
65% {
opacity:.2;
}
75% {
opacity:.1;
}
100% {
opacity:0;
}
}

#cf img.top {
animation-name: cfFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 3.5s;
animation-direction: alternate;
}


.page{
  margin: 50px auto;
  width: 70%;
  background-color: rgba(36, 43, 37, 0.4);
  border-radius: 5px;
  padding: 50px;
}

.page-header{
  margin: 0 auto 70px auto;
  width: 50vh;
}
  .page-header h2{
    color: #fff;
    cursor: pointer;
    font-size: 5vh;
    width: 100vh;
    /* min-width: 100vh; */
    max-width: 100vh;
    font-weight: bold;
    /* margin: 4vh 0 0 0; */
    display: block;
    margin-left: -50%;
    /* margin-left: 50%; */
    /* margin-right: 50%; */
    text-align: center;
    text-shadow: 2px 2px darkgray;
    /* text-transform: uppercase; */
  }

  .logo {
    cursor: pointer;
    height: 12vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
  }

.search-icon{
  margin-top:4vh;
  height: 6vh;
  /* margin-left: 40px; */
  /* transform: scaleX(-1); */
}

.search-icon.active {
  display: none;
  transition: linear 1s;
}

form {
  display: flex;
}


.error-message, .noResults{
  min-width: 280px;
  text-align: center;
  color: rgb(158, 3, 3);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: absolute;
  top: -5vh;
}

.requestName{
  color: rgb(158, 3, 3);
  opacity: 0;
  /* transition: opacity 2s ease-in; */
}


.removed-message {
  display: none;
}


#search {
  /* display: flex; */
  align-items: center;
  /* float: right; */
  font-size: 15px;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: 0 auto;
  /* margin-bottom: 2vh; */
  position: relative;
  transition: 0.3s;
  width: 40px;
  }

  #search:hover {
    cursor: pointer;
  }

  #search.active{
    border-bottom: solid white 2px;
    width: 260px;
  }

#search-input {
  height: 100%;
  width: 0px;
  font-size: 18px;
  font-weight: 600;
  background: none;
  color: #FFF;
  border: none;
  outline: 0;
  visibility: hidden;
  transition: 0.5s linear;
}

  ::placeholder {
    color: rgba(187, 187, 187, 0.377);
  }

#search-input.active {
  width: 260px;
  text-align: center;
  visibility: visible;
}

.student-list{}

/* selecting the first list item in student list */
body > div.page > ul > li:nth-child(1) {
  margin-top:13vh;
}

  .student-item{
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    /* top and transition properties ease the student item up when hovered over
    in concert with the the top property in the .student-item hover rule below*/
    top: 0;
    transition: top ease 0.5s;
  }

  .student-item:hover{
    background-color: rgba(243, 243, 243, 0.3);
    cursor: grab;
    top: -10px;
  }

    .student-details{
      width: 50%;
      float: left;
    }

      .student-details .avatar{
        width: 40px;
        height: auto;
        border-radius: 20px;
        float: left;
        margin-right: 14px
      }

      .student-details h3{
        margin: 4px 0 2px 0;
        font-weight: bold;
        color: #000;
      }

      .student-details .email{
        color: rgb(255, 255, 255);
        font-size: 14px;
      }


    .joined-details{
      width: 50%;
      float: left;
      text-align: right;
    }

      .joined-details .date{
        margin-top: 15px;
        display: block;
        font-size: 14px;
        color: #fff;
      }

  .student-item:last-child{
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

.pagination{
  position: relative;
  margin-top: 10px;
}

  .pagination li{
    display: inline;
  }

    .pagination li a{
      border: 1px solid #eaeaea;
      border-radius: 5px;
      padding: 3px 8px;
      text-decoration: none;
      color: #fff;
    }

    .pagination li a.active,
    .pagination li a:hover{
      background-color: gray;
      color: #fff;
    }
